*{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.redtitle{
    color: rgb(131, 121, 121);
    padding: 10px;
}

.center{
    display: flex;
    justify-content: center;
    padding: 20px;
}