<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
    Form submitted ? {{ myForm.submitted }} Form valid ? {{ myForm.valid }} Form
    invalid ? {{ myForm.invalid }}
  </div>

  <fieldset>
    <label for="email">Email</label>
    <input
      id="email"
      name="email"
      type="email"
      [(ngModel)]="model.email"
      #email="ngModel"
      email
      required
    />
  </fieldset>

  <div *ngIf="myForm.submitted && email.errors">
    <span *ngIf="email.errors?.['required']">L'email est requis</span>
    <span *ngIf="email.errors?.['email']">L'adresse email est invalide</span>
  </div>

  <fieldset>
    <label for="firstname">Firstname</label>
    <input
      id="firstname"
      name="firstname"
      [(ngModel)]="model.firstname"
      #firstname="ngModel"
      type="text"
      required
      minlength="3"
      maxlength="15"
    />
  </fieldset>

  <div *ngIf="myForm.submitted && firstname.errors">
    <span *ngIf="firstname.errors?.['required']"
      >Le champ firstname est requis</span
    >
    <span *ngIf="firstname.errors?.['minlength']"
      >Le firstname doit comporter au moins 3 caractères</span
    >
    <span *ngIf="firstname.errors?.['maxlength']"
      >Le firstname ne doit pas dépasser 15 caractères</span
    >
  </div>

  <fieldset>
    <label for="lastname">Lastname</label>
    <input
      id="lastname"
      name="lastname"
      type="text"
      [(ngModel)]="model.lastname"
      #lastname="ngModel"
      required
      minlength="3"
      maxlength="15"
    />
  </fieldset>

  <div *ngIf="myForm.submitted && lastname.errors">
    <span *ngIf="lastname.errors?.['required']"
      >Le champ lastname est requis</span
    >
    <span *ngIf="lastname.errors?.['minlength']"
      >Le lastname doit comporter au moins 3 caractères</span
    >
    <span *ngIf="lastname.errors?.['maxlength']"
      >Le lastname ne doit pas dépasser 15 caractères</span
    >
  </div>

  <fieldset>
    <label for="password">Password</label>
    <input
      id="password"
      name="password"
      type="password"
      [(ngModel)]="model.password"
      #password="ngModel"
      required
      minlength="8"
      maxlength="30"
    />
  </fieldset>

  <div *ngIf="myForm.submitted && password.errors">
    <span *ngIf="password.errors?.['required']"
      >Le champ password est requis</span
    >
    <span *ngIf="password.errors?.['minlength']"
      >La longueur ne doit pas être inférieur à 8 caractères</span
    >
    <span *ngIf="password.errors?.['maxlength']"
      >La longueur ne doit pas dépasser 30 caractères</span
    >
  </div>

  <button type="submit">Sauvegarder</button>
</form>
